{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}


{% block header %}
<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
  <li><a href="{{ SITEURL }}/">{{ SITENAME }}</a></li>
  <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category | escape }}</a></li>
  <li>{{ article.title }}</li>
  {% if article.version and article.version|length %}
  <li>
    {% for key, value in article.version.items() %}
      {% if loop.index>1%} | {%endif%}[<a href="{{value}}">{{key}}</a>]
    {% endfor %}
  </li>
  {% endif %}
  </ol>
</nav>
{%if article.summary %}{{article.summary}}{%endif%}
{%endblock%}

{% block content %}
<section id="content" class="body">
  <article>
      {{ article.content }}
  </article>
</section>
{% endblock %}
