{% extends "base.html" %}
{% block content %}

<section id="content" class="body">
    <ol id="posts-list" class="hfeed">
    {% for article in articles_page.object_list %}
        {% set pr_cts = [] %}
        {% set nx_cts = [] %}
        {% set pr_cat = 1 %}
        {% set nx_cat = 1 %}
        {% set cr_cat = 0 %}
        {% if loop.previtem and loop.previtem.categories is defined %}
          {% set pr_cts = loop.previtem.categories %}
          {% set pr_cat = pr_cts|length %}
        {% endif %}
        {% if loop.nextitem and loop.nextitem.categories is defined %}
          {% set nx_cts = loop.nextitem.categories %}
          {% set nx_cat = nx_cts|length %}
        {% endif %}

        {% if article.categories is defined %}
          {% set cr_cat = article.categories|length %}
        {% endif %}

        {#
        {% if (cr_cat != 0 and cr_cat>pr_cat) %}
          {% for c in article.categories %}
          {% if loop.index>pr_cat %}
        #}
        {% if cr_cat !=0 and cr_cts!=pr_cts %}
          {% for c in article.categories %}
          {% if loop.index>pr_cat or (pr_cts[loop.index-1]!=c) %}
            <li>{{c.name}}:<ul>
          {% endif %}
          {%endfor%}
        {% endif %}

        <li data-lcat="{{cr_cat}}">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a>
        </li>

        {#
        {% if (cr_cat != 0 and cr_cat>nx_cat) %}
          {% for c in article.categories %}
          {% if loop.index>nx_cat %}
        #}
        {% if cr_cat !=0 and cr_cts!=nx_cts %}
          {% for c in article.categories %}
          {% if loop.index>nx_cat or (nx_cts[loop.index-1]!=c) %}
            </ul>
          {% endif %}
          {%endfor%}
        {% endif %}
    {% endfor %}
    </ol>
</section>
{% endblock %}
