@page
{
    size: auto;
    margin: 5mm 5mm 5mm 5mm;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}
div.pag {
    font-family: monospace;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.7em;
    margin-right: -1mm;
}
div.pag span {
    font-size: 0.6em;
}
div.alert {
  display: none;
}
