body {
  counter-reset: bloque;
}
h1 {
  counter-reset: capitulo;
}
h2 {
  counter-reset: apartado;
}

h1:before {
  counter-increment: bloque;
  content: "Bloque " counter(bloque) ". ";
}

h2:before {
  counter-increment: capitulo;
  content: counter(capitulo) ". "
}
h3:before {
  counter-increment: apartado;
  content: counter(capitulo) "." counter(apartado) " ";
}

body {
  background-color: #c0c0c0;
}
body {
  font-family: arial,sans serif;
  font-size: 11pt;
}
body {
  display: block;
  margin: 8px;
}
body > div {
  background-color: white;
}
body > div {
  border-radius: 6px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}
body > div.content > *:first-child {
  margin-top: 0em;
}
body > div.content > *:last-child {
  margin-bottom: 0em;
}
li {
  margin-bottom: 1em;
}
div.fromboe {
    display: block;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
