body.packtree h1 {
  margin-bottom: 0;
}
body.packtree pre {
  margin-top: 0;
}

fieldset.firma_ades {
  width: 0;
}
fieldset.firma_ades legend {
  margin: 0 0 0 auto;
  font-weight: bold;
}
fieldset.firma_ades p {
  border: 1px solid black;
  padding: 5px;
  margin: 0px;
}
fieldset.firma_ades div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 7em;
}
/*
fieldset.firma_ades fieldset.firma_ades_leaf {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 6em 6em 6em 6em 6em;
}
*/
fieldset.firma_ades_leaf p {
  margin-top: 5px;
  margin-bottom: 5px;
}
fieldset.nivel_conformidad_eidas {
  border-color: blue;
  border-style: solid;
}
fieldset.nivel_conformidad_eidas > legend {
  border-color: blue;
  border-style: solid;
}

#bibliografia {
  border-top: 1px solid black;
  padding-top: 16px;
  margin-bottom: 16px;
}
body.apuntes_b1_ens #tb3 thead th:last-child {
  text-align: center;
}
body.apuntes_b1_ens #tb3 tbody th {
  text-align: center;
}
body.apuntes_b1_ens tbody tr:nth-child(2n) {
    background-color: unset;
}
body.apuntes_b1_firma div.figgroup2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body.apuntes_b1_firma div.figgroup2 img {
  max-height: 222px;
}
