@import url("pygment.css");

body {
  font-family: arial,sans serif;
  font-size: 11pt;
  margin: 0;
}
main {
  margin: 0;
  padding-right: 1em;
  padding-left: 1em;
}
header, footer {
  margin: 0;
  padding: 1em;
  clear: both;
  color: #fff !important;
  background-color: #3a3a3a !important;
}
body > * {
  max-width: 1000px;
  margin: auto;
}

footer {
  margin-top: 16px !important;
}
footer p:first-child {
	margin-top: 0;
}
footer p:last-child {
	margin-bottom: 0;
}
header p:first-child {
  margin-bottom: 0;
}
header p:last-child {
  margin-bottom: 0;
}
header a, footer a {
  color: inherit;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

main ul, main ol {
  padding-left: 30px;
  margin-left: 0;
}


nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  margin: 0 0.25em;
  content: '»';
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
}
.grid-item {
  padding: 10px;
}


table {
	margin-top: 14px;
	border-spacing: 0px;
	border-collapse: collapse;
}
thead {
	background-color: lightblue;
}
td, th {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}
td > p, th > p {
	margin-top:7px;
	margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
	margin-top:0;
}
td > p:last-child, td > p:last-child {
	margin-bottom:0;
}
tr > td:first-child {
	white-space: nowrap;
}

h1 { font-size: 2em }
a.abbr, a.wikipedia {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: inherit;
}
