---
---

@import "{{ site.theme }}";

header, footer {
  display: none !important;
}

section {
  width: unset !important;
  float: unset !important;
  border: unset !important;
  border-width: unset !important;
  padding: unset !important;
  margin: unset !important;
}

#productos td.precio {
  text-align: right;
}
#productos td.precio span.ceros {
  opacity:0;
}
#productos th.precio {
  width: 4em;
}
#productos span[title] {
    cursor: help;
}
a:hover, a:focus {
    font-weight: unset;
}
body {
    padding-top: 0px;
}

div.alert {
    display: block;
    background-color: black;
    color: white;
    margin-bottom: 15px;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
div.alert a {
    color: white;
    font-weight: bold;
}
div.alert a:hover, div.alert a:focus {
    color: white;
    font-weight: bold;
}
div.alert a.home {
    float: left
}
